* {
  box-sizing: border-box;
  margin: 0;
  border: none;
}

body {
  background-color: black;
}

h1, h2,  p, a {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  text-decoration: none;
  color:rgba(255, 255, 255, .75);
  margin:  10px;
}

h1 {
  color: rgba(255, 255, 255, .75);
}

button {
  margin: 20px;
}