* {
  box-sizing: border-box;
  margin: 0;
  border: none;
}

body {
  background-color: black;
}

.results-container {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  margin: 50px;
}

h1 {
  color: rgba(255, 255, 255, .75);
}

p {
  color:  rgba(255, 255, 255, .75);
}

a {
  text-decoration: none;
  text-decoration-line: none;
}